# This is a tutorial notebook to python

In [13]:
y=8

In [16]:
type(x)

int

In [17]:
x=1.234

In [18]:
type(x)

float

In [19]:
int(x)

1

In [20]:
float(x)

1.234

In [21]:
float(4)

4.0

In [26]:
'G'

'G'

In [27]:
"g"

'g'

In [28]:
f = 'This'

In [29]:
f

'This'

In [30]:
y = 100

In [31]:
print('$'+str(y)+ ' Dollars')

$100 Dollars

In [32]:
'Red Car'

'Red Car'

In [33]:
'Red ' 'Car'

'Red Car'

In [35]:
print (3,4)

3 4

In [36]:
x = 1+ 2

In [37]:
x

3

In [42]:
x

3

In [56]:
2.0 * 1.5+ \
5

8.0

In [57]:
"Friday"

'Friday'

In [60]:
c = [1, 2, 3, 4, 5]

In [61]:
c[1]

2

In [67]:
def FiveMult(x):
    x = x*5
    return x

In [68]:
FiveMult(1)

5

In [69]:
FiveMult(5)

25

In [70]:
10 !=10

False

In [71]:
10 != 12

True

In [72]:
True and False

False

In [73]:
1 and 1

1

In [ ]:
5

In [82]:
if 5 == 15/4:
    print("Correct")

In [84]:
if 5 == 15/4:
    print("Correct")
else: 
    print("No")

No

In [85]:
x= 100

In [90]:
if x % 7 == 0:
    print("Not divisible")
elif x % 5 != 0:
    print("Divisible by 5")
else:
    print("na")

na

In [92]:
def CompareToFive(f):
    if f > 5:
        return "Higher"
    elif f < 5:
        return "lower"
    elif f == 5:
        return "equal"
    else:
        return "error"

In [96]:
CompareToFive(-3)

'lower'

In [98]:
def simple():
    print("This")

In [101]:
def PlusTen(a):
    return a+10

In [104]:
PlusTen(12)

22

In [106]:
y = PlusTen(x)
y

110

In [3]:
def Plus20(a):
    result = a+10
    return result

In [6]:
def wage(hours):
    return hours * 25

In [7]:
wage(2)

50

In [10]:
def add10(m):
    if m >=10:
        z = m-10
        return z
    else: 
        z = m+10
        return z

In [15]:
def operand(n1,n2,x):
    if x == 'add':
        z = n1 + n2
        return z
    elif x == 'subtract':
        z = n1 - n2
        return z
    else:
        return "Not Supported"

In [17]:
operand(1,2,'subtract')

-1

In [26]:
listn = [1,2,3,4,5,6,7,8,9,10]

In [27]:
lista = ['a','b','c','d','e','f','g','h','i','j']

In [30]:
listn[1]

2

In [32]:
lista[2] = 'z'

In [33]:
lista

['a', 'b', 'z', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [34]:
lista.append('k')

In [35]:
lista

['a', 'b', 'z', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k']

In [36]:
len(lista)

11

In [37]:
lista.extend(listn)

In [38]:
lista

['a',
 'b',
 'z',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10]

In [39]:
print(lista)

['a', 'b', 'z', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [40]:
lista(3)

TypeError: 'list' object is not callable

In [45]:
lista[0:10]

['a', 'b', 'z', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [47]:
lista.index(5)

15

In [48]:
listbig = [lista,listn]

In [49]:
listbig

[['a',
  'b',
  'z',
  'd',
  'e',
  'f',
  'g',
  'h',
  'i',
  'j',
  'k',
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10],
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]]

In [52]:
listn.sort(reverse = True)

In [54]:
listn

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [55]:
x = (10,20,30,40)

In [56]:
x

(10, 20, 30, 40)

In [57]:
y = (1,2,3,4)

In [58]:
a, b, c = 1, 2, 3

In [59]:
c

3

In [60]:
b

2

In [61]:
listtup = [x,y]

In [63]:
dict1 = {1:"cat",2:"dog"}

In [66]:
dict1[1]

'cat'

In [67]:
dict1[3]= "mouse"

In [68]:
dict1

{1: 'cat', 2: 'dog', 3: 'mouse'}

In [69]:
import pandas

In [71]:
print(dict1.get(5))

None

In [72]:
even = [0,2,4,6,8,10,12,14,16,18,20]

In [73]:
for n in even:
    print(n)

0
2
4
6
8
10
12
14
16
18
20

In [78]:
for n in even:
    x = n/2
    print(int(x))

0
1
2
3
4
5
6
7
8
9
10

In [80]:
x = 0
while x <= 10:
    print (str(x) + ", ")
    x = x+1

0,
1,
2,
3,
4,
5,
6,
7,
8,
9,
10,

In [81]:
x = range(0,100,5)

In [82]:
x

range(0, 100, 5)

In [83]:
print(x)

range(0, 100, 5)

In [84]:
x[2]

10

In [85]:
x[5]

25

In [86]:
x[20]

IndexError: range object index out of range

In [87]:
x[19]

95

In [91]:
for n in range(10):
    print (n*1, end= " ")

0 1 2 3 4 5 6 7 8 9

In [93]:
for n in range(20):
    if n % 2 == 1:
        print(n,end=" ")

1 3 5 7 9 11 13 15 17 19

In [110]:
def count(n):
    total = 0
    while n(total) < 8:
        tot += 1
        return tot

In [119]:
def count(numbers):
    numbers = sorted(numbers)
    tot = 0
    
    while numbers[tot] < 1000:
        tot += 1
    return tot

In [114]:
count(list_1)

IndexError: list index out of range

In [120]:
nums = [1,2,3,4,5,35,12,24,31,51,70,100]

In [118]:
count(nums)

6

In [124]:
for i in range(0,10,2):
    print(i, end=" ")

0 2 4 6 8

In [126]:
word = 'Test Word'
for char in word:
    print(char,end=" ")

T e s t   W o r d

In [131]:
data = range(1,100,2)

In [133]:
data[4]

9

In [134]:
data[0:5]

range(1, 11, 2)

In [143]:
z=0
for num in data:
    z += num
    print(z)

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625
676
729
784
841
900
961
1024
1089
1156
1225
1296
1369
1444
1521
1600
1681
1764
1849
1936
2025
2116
2209
2304
2401
2500